# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
venv/
ENV/

# Build
build/
dist/
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Environment variables
.env

# Logs
data/log.txt

# Config generated at runtime
data/config.json
.pyc